/*zeroing*/

* {padding: 0;margin: 0;border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: inherit;}
::-webkit-scrollbar { width: 0px;}

/*--------------------*/

body {
  font-family: Myriad Pro;
  height: 2000px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 1px 15px rgba(0,0,0,0.3);
  z-index: 3;
  background-color: #fff;
  position: fixed;
  width: 100%;
  a {
    color: black;
  }
  nav {
    min-height: 70px;
    &>a {
      font-weight: 600;
      font-size: 1.4em !important;
      display: block;
    }
  }
  ul {
    float: right;
    margin-left: auto;
    a {
      text-decoration: underline;
      text-decoration-color: white;
      font-size: 1.4em;
      margin-left: 20px;
      transition: .4s ease;
      display: block;
    }
    a.active {
      text-decoration: underline;
      text-decoration-color: black;
    }
    a:hover {
      text-decoration-color: black;
      color: #000;
      text-decoration: underline !important;
    }
  }
  li {
    height: auto;
    text-align: center;
  }
}

.bunner {
  background: url('../img/bunner_bg.png') no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  padding-top: 66px;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 100vh;
  max-height: 1500px;
  * {
    text-align: center;
  }
  h1 {
    padding-bottom: 10px;
    letter-spacing: 1px;
    font-size: 4em
  }
  h2 {
    font-weight: 300;
    font-size: 1.4em;
    letter-spacing: 1px;
    padding-bottom: 80px;
  }
  .buttons {
    display: flex;
    justify-content: center;
    a {
      display: block;
      white-space: nowrap;
      font-size: 1.4em;
      width: 200px;
      color: #fff;
      padding: 10px 0px;
      border: 2px solid #fff;
      margin-right: 20px;
      transition: .4s ease;
      font-weight: 600;
    }
    a:hover {
      color: #000;
      background-color: #fff;
      text-decoration: none;
    }
    #secondBunnerButton {
      background-color: rgb(78, 151, 141);
      border-color: rgb(78, 151, 141);
      margin-right: 0;
    }
    #secondBunnerButton:hover {
      background-color: #fff;
      color: rgb(78, 151, 141);
    }
  }
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
  h2 {
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2.8em;
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &>p {
      letter-spacing: 0.5px;
      width: 80%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.2em;
      padding-bottom: 75px;
    }
  }
  .row div {
    text-align: center;
    padding: 50px;
    img {
      margin-bottom: 30px;
    }
    h3 {
      letter-spacing: 1px;
      margin-bottom: 10px;
    }
    p {
      letter-spacing: 0.5px;
    }
  }
}

.service {
  background-color: rgb(238,253,250);
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
  h2 {
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2.8em;
    margin-bottom: 20px;
  }
  .container>p {
    letter-spacing: 0.5px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    padding-bottom: 75px; 
    margin-bottom: 120px;
  }
}

.wrapper2 {
  padding: 20px;
  div {
    height: auto;
    padding: 50px;
    background-color: #fff;
    img {
      padding-bottom: 30px;
    }
    h3 {
      letter-spacing: 1px;
    }
    p {
      letter-spacing: 0.5px;
      word-spacing: 3px;
      padding-bottom: 30px;
    }
    a {
      color: rgb(78, 151, 141);
      text-transform: uppercase;
      font-size: 1.4em;
      white-space: nowrap;
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 70%;
      padding: 10px 0px;
      border: 2px solid rgb(78, 151, 141);
      text-decoration: none;
      transition: .4s ease;
    }
    a:hover{
      text-decoration: none;
      background-color: rgb(78, 151, 141);
      color: #fff;
    }
  }
  #thing1 {
    color: white;
    background-color:  rgb(78, 151, 141);
    box-shadow: 0 8px 15px #999;
    a {
      color: white;
      border-color: #fff;
    }
    a:hover {
      background-color: #fff;
      color: rgb(78, 151, 141);
    }
  }
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  .wrapper4 {
    display: flex;
    justify-content: center;
    a {
      margin-bottom: 80px;
      font-size: 1.3em;
      margin-left: 20px;
      letter-spacing: 1px;
      color: rgb(78, 151, 141);
      padding: 8px 20px;
      display: block;
      transition: .4s ease;
      border: 2px solid rgb(78, 151, 141);
      white-space: nowrap;
      text-decoration: none;
    }
    a:hover {
      background-color: rgb(78, 151, 141);
      color: #fff;
      text-decoration: none;
    }
    #active1 {
      background-color: rgb(78, 151, 141);
      color: #fff;
      margin-left: 0px;
    }
  }
  h2 {
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2.8em;
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &>p {
      letter-spacing: 0.5px;
      width: 80%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.2em;
      padding-bottom: 75px;
    }
  }
  .wrapper3 {
    padding: 20px !important;
    display: flex;
    justify-content: center;
    overflow: hidden;
    display: block;
    img {
      transition: 1s;
      height: auto;
      width: 100%;
      border: 1px solid #bdbdbd;
    }
    img:hover {
      transform: scale(1.05);
    }
    h6,p {
      text-align: center;
      color: #fff;
      z-index: 10;
    }
    h6 {
      margin-top: -200px;
      font-size: 1.5em;
      line-height: 0.5em;
    }
    p {
      font-size: 1.1em;
    }
  }
}

.viwe {
  font-weight: 600;
  margin-top: 80px;
  font-size: 1.3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  letter-spacing: 1px;
  background-color: rgb(78, 151, 141);
  color: #fff;
  padding:8px 0px;
  display: block;
  width: 150px;
  border: 2px solid rgb(78, 151, 141);
  white-space: nowrap;
  transition: .4s ease;
  &:hover {
    background-color: #fff;
    color: rgb(78, 151, 141);
    text-decoration: none;
  }
}

.pricing {
  width: 100%;
  padding-bottom: 120px;
  padding-top: 120px;
  background-color: rgb(241,241,241);
  #active2 {
    &>div {
      box-shadow:0px 4px 15px rgba(0,0,0,0.3);
    }
    a {
      color: #fff;
      background-color: rgb(78, 151, 141);
      border: 2px solid rgb(78, 151, 141);
      &:hover {
        color: rgb(78, 151, 141);
        background-color: #fff;
      }
    }
  }
  .wrapper6 {
    padding: 20px;
  }
  h2 {
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2.8em;
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &>p {
      letter-spacing: 0.5px;
      width: 80%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.2em;
      padding-bottom: 75px;
    }
    &>div {
      padding: 20px !important;
    }
    hr {
      border: 0.5px solid #bdbdbd;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0 !important;
      margin-bottom: 20px;
    }
  }
  .wrapper5 {
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 40px;
    a {
      margin-top: 40px;
      transition: .4s ease;
      white-space: nowrap;
      display: block;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      font-weight: 600;
      font-size: 1.3em;
      color: black;
      border: 2px solid #333;
      padding: 8px 0px;
      &:hover {
        background-color: #333;
        color: white;
        text-decoration: none;
      }
    }
    h3 {
      font-weight: 400;
      color: #fff;
      letter-spacing: 1px;
      margin-top: -150px;
    }
    &>p {
      letter-spacing: 0.5px;
      color: #fff;
      font-size: 1.4em;
      padding-bottom: 70px;
      span, {
        letter-spacing: 1px;
        font-size: 2.3em;
        font-weight: 300;
      }
      sup {
        letter-spacing: 1px;
        font-size: 1.7em;
      }
    }
    .thing2 {
      p {
        margin-bottom: 4px;
        font-size: 1.15em;
      }
    }
  }
  svg {
    width: 100%;
    height: 200px;
  }
}

.team {
  padding-top: 120px;
  padding-bottom: 20px;
  h2 {
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2.8em;
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &>p {
      letter-spacing: 0.5px;
      width: 80%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.2em;
      padding-bottom: 75px;
    }
    .row > div {
      padding: 20px;
      text-align: center;
      img {
        padding-bottom: 30px; 
        width: 100%;
      }
      h3 {
        letter-spacing: 1px;
        margin: 0;
      }
      p {
        letter-spacing: 0.5px;
        word-spacing: 3px;
        padding-bottom: 20px;
        font-size: 1.2em;
      }
      .wrapper7 {
        margin-bottom: 100px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        .facebook {
          font-size: 1.99em;
          color: white;
          background-color: #3b5998;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid #3b5998;
          border-radius: 6px;
          transition: .4s ease;
          &:hover{
            background-color: #fff;
            color: #3b5998;
            text-decoration: none;
          }
          i {
            text-align: center;
          }
        }
        .twitter {
          margin-left: 15px;
          font-size: 1.99em;
          color: white;
          background-color: #1faee9;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid #1faee9;
          border-radius: 6px;
          transition: .4s ease;
          &:hover{
            background-color: #fff;
            color: #1faee9;
            text-decoration: none;
          }
          i {
            text-align: center;
          }
        }
        .vk {
          margin-left: 15px;
          font-size: 1.99em;
          color: white;
          background-color: #4d7198;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid #4d7198;
          border-radius: 6px;
          transition: .4s ease;
          &:hover{
            background-color: #fff;
            color: #4d7198;
            text-decoration: none;
          }
          i {
            text-align: center;
          }
        }
        .drib {
          margin-left: 15px;
          font-size: 1.99em;
          color: white;
          background-color: #e74e8a;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid #e74e8a;
          border-radius: 6px;
          transition: .4s ease;
          &:hover{
            background-color: #fff;
            color: #e74e8a;
            text-decoration: none;
          }
          i {
            text-align: center;
          }
        }
      }
    }
  }
}

.blog {
  background-color: rgb(238,253,250);
  padding-top: 120px;
  padding-bottom: 120px;
  h2 {
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2.8em;
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &>p {
      letter-spacing: 0.5px;
      width: 80%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.2em;
      padding-bottom: 90px;
    }
  }
  .row {
  }
  img {
    width: 100%;
  }
  p {
    letter-spacing: 0.5px;
    width: 80%;
  }
  .date {
    padding-bottom: 10px;
    display: inline-block;
    margin-right: 30px;
    i,h5 {
      display: inline-block;
      letter-spacing: 1px;
    }
    i {
      padding-right: 5px;
    }
  }
  h3 {
    letter-spacing: 1px;
    padding-top: 60px;
    padding-bottom: 10px;
    a {
      color: #000;
      transition: .4s ease;
      &:hover {
        color: rgb(78, 151, 141);
        text-decoration: none;
      }
    }
  }
}

.contact {
  background-image: url(../img/contact_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 120px;
  color: #fff;
  h2 {
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    font-size: 2.8em;
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &>p {
      letter-spacing: 0.5px;
      width: 80%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 1.2em;
      padding-bottom: 90px;
    }
  }
  form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    input {
      width: 100%;
      padding: 20px 15px;
      border-radius: 7px;
      font-size: 1.3em;
      font-weight: 500;
      margin-bottom: 30px;
    }
    textarea {
      resize: none;
      min-width: 100%;
      border-radius: 7px;
      font-size: 1.3em;
      font-weight: 500;
      padding: 20px 15px;
      min-height: 300px;
    }
    button {
      border: 2px solid white;
      white-space: nowrap;
      font-weight: 600;
      border-radius: 7px;
      font-size: 1.3em;
      margin-top: 30px;
      padding: 14px 0;
      display: block;
      width: 200px;
      float: right;
      margin-left: auto;
      transition: .4s ease;
      &:hover {
        background-color: #333;
        text-decoration: none;
        color: #fff;
      }
    }
  }
  .wrapper9>div {
    text-align: center;
    padding-bottom: 60px;
    p {
      font-size: 1.4em;
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
  .wrapper8 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(81,94,179);
    margin-bottom: 30px;
  }
  i {
    font-size: 4em;
  }
}

footer {
  text-align: center;
  height: 70px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  div {
    height: auto;
  }
  h5 {
  margin-top: auto;
  margin-bottom: auto;
  }
}


@media screen and (max-width: 370px) {
  .bunner h1 {
    font-size: 3.1em;
  }
}

@media screen and (max-width: 350px) {
  .buttons {
    flex-wrap: wrap;
    a {
      margin-right: 0 !important;
      margin-bottom: 20px !important;
    }
  }
}

@media screen and (max-width: 737px) {
  header ul {
    width: 100%;
  }
}

@media screen and (max-width: 830px) {
  .wrapper4 {
    flex-direction: column;
  }
  .wrapper4 a{
    margin-left: 0 !important;
    margin-bottom: 15px !important;
  }
}